<div class="container-fluid p-0">
  <div class="container">
    <div class="basic_info">
      <div class="basic-info-mandala">
        <%= image_tag 'mandala.svg', class: 'img-responsive' %>
      </div>
      <div class="d-flex flex-column align-items-center">
        <div class="internal_form_heading align-self-center">
          <%= image_tag 'basic_info_form_title.svg', width:'100%', class: "img-responsive" %>
        </div>
        <div class="form_title align-self-start pt-3 pl-2 pr-2">
          <strong> Preference </strong> <br>
          <%= image_tag 'yellow_line.svg', width: '80', height: '17' %>
        </div>
        <div class="form_input_fields pt-4 pl-2 pr-2 col-12">
          <%= render 'partner_preferences/preference_form', preference: @preference %>
        </div>

      </div>

    </div>
  </div>
</div>