<div class="update-notice flash-msg-profile-change"></div>
<div class="container-fluid p-0 ">
  <div class="dashboard">
    <div class="container">
      <div class="d-sm-flex flex-sm-row ">
        <%= render 'home/dashboard/left_sidebar', marriage_profile: current_active_profile %>
        <div class="right-section">
          <%= render 'home/dashboard/dashboard_tabs', marriage_profile: current_active_profile %>
          <%= render 'partner_preferences/preference', preference: @preference %>
        </div>
      </div>
    </div>
  </div>
</div>