<div class="wrapper">
  <h2 class="pp-places-header">
    Privacy Policies
  </h2>
  <hr class="section-hr mt-0 mb-0">
  <div class="section mt-3">
    <div class="container pp-places-container">
      <div class="row">
        <div class="col-md-12">
          <p style="text-align: justify">BoloKobul.com is an online matrimonial portal endeavouring relentlessly to provide you with
            matrimonial services. Since we are strongly committed to your right to privacy, we have drawn
            out a privacy statement with regards to the information we collect from you. This privacy statement
            covers what information we collect from you when you visit our website, how we use it, and under
            what circumstances we disclose it. By using our website, you agree with the terms and conditions
            of this privacy statement.</p>
          <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
            <%= render partial: 'privacy_policy', collection: @privacy_policies %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-50"></div>
</div>
