<div class="campaign-bottom-part text-center">
  <div class="bk-logo">
    <%= image_tag 'bk_logo.webp' %>
  </div>
  <div class="campaign-content d-sm-flex flex-sm-row">
                <span class="">
                  A trusted matchmaking platform with FREE Registration to connect you with the right life partner, maintaining privacy and security! - Bolo Kobul
                </span>
  </div>
</div>
