<div class="campaign-bottom-part text-center">
  <div class="bk-logo">
    <%= image_tag 'bk_logo.webp' %>
  </div>
  <div class="campaign-content d-sm-flex flex-sm-row">
                <span class="">
                  A matchmaking platform to find the perfect match according to your preference,
                  while ensuring privacy and security of information.
                  Bolo Kobul is also a holistic directory for all wedding related services and vendors.
                </span>
  </div>
</div>