<section class=" section_2 container-fluid p-0">
<!--  Desktop Registration form-->
<%= render 'shared/desktop_registration' %>
  <!--  Mobile Registration form-->
<%= render 'shared/mobile_registration_form' %>
</section>