<div class="col-md-12 white-background p-4 mt-2 blog-section">
  <div class="text-justify pb-2 mt-3 merriweather">
    <strong>
      <%= contact&.heading %>
    </strong>
  </div>
  <div class="text-justify">
    <p><%= contact&.content %></p>
  </div>
</div>

<div class="col-md-12 white-background p-4 mt-2 blog-section mb-5 merriweather">
  <div class="">
    <strong>Email Address : </strong> <%= contact&.contact %>
  </div>
</div>