<div class="col-md-12 white-background p-4 mt-2 blog-section">
  <div class="text-justify pb-2 mt-3">
    <strong>
      Does marriage mean family pressure, additional stress and fear of not finding the right one for you? Not anymore.
    </strong>
  </div>
  <div class="text-justify">
    <p>

      Bolo Kobul is the one stop solution to help you find you
      r soulmate while ensuring your data is secured.
    </p>
    <p>
      At Bolo Kobul, you can
      flip through our database of potential matches for you, send butterflies to your
      chosen one, and if your chosen one, chooses you too, you can view each other’s
      biodata, chat online and proceed to meet face-to-face. Once you have found your
      soulmate, select from the exclusive package list of Bolo Kobul’s Directory of
      event management companies, photographers, caterers, make-up artists, venues, etc.
      to organize your special day, just as you dreamt, within your budget.
    </p>

    <p>
      Focused on being a platform to connect user with proper Control and Security
      with suitable prospects using backend algorithms, Bolo Kobul ensures your weddings
      decisions, are solely yours to make at all times.
    </p>

    <p>
      From finding the perfect life partner,
      to arrangements for your big day, Bolo Kobul guides you throughout your wedding journey.
    </p>

  </div>
</div>