<!-- Login Modal -->
<div class="modal fade" id="loginModal">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal body -->
      <div class="modal-body">
        <div class="d-sm-flex flex-sm-column pb-3">
          <button type="button" class="close bk-modal-close" data-dismiss="modal">&times;</button>
          <%= render 'home/sign_in_form' %>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- The update form modal -->
<div class="modal" id="global_update_modal_sm">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>
