<div class="dropdown text-gray menu-placement">
  <i class="fas fa-ellipsis-h" id="dropdownMenu1xx" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li class="p-2 border-bottom "><a href="<%= block_profile_marriage_profile_path(profile) %>" class="text-gray" data-method="patch" > <i class="fas fa-ban"></i> Block </a></li>
<!--    <li class="p-2 border-bottom "><a href="#" class="text-gray" > <i class="fas fa-registered"></i> Report </a></li>-->
  </ul>
</div>