<div class="container blogs-container">
  <h2 class="blogs-header">
    Contact Us
  </h2>
  <hr class="section-hr mt-0 mb-0">
  <div class="blogs-items">
    <div class="col-md-12 p-0 float-left">
      <div class="row">
        <div class="blogs-content col-md-9">
          <%= render 'shared/contact_content', contact: @contact %>
        </div>
        <div class="col-md-3 p-0">
          <%= render partial: 'shared/ad_for_about_page' %>
        </div>
      </div>
    </div>
  </div>
</div>
