
<b> Dear Concern, </b>
<p> Your first step to finding your life partner is complete! </p>

<p> Welcome to <a href="http://www.bolokobul.com"></a>bolokobul.com, the first of a kind one- stop platform for finding your soul mate. Bolo Kobul lets you browse through our verified databse based on your preference, while ensuring your data is completely secured. </p>

<p> To ensure seamless service, our website is currently being developed with care. We will soon share with you the rest of the steps of registration. </p>

<p> Thank you for your patience! </p>

<p> Best wishes </p>
<p> Team BK </p>
