development:
  BOLOKOBUL_DATABASE_USERNAME: 'root'
  BOLOKOBUL_DATABASE_PASSWORD: 'password'
  FACEBOOK_APP_ID: ''
  FACEBOOK_APP_SECRET: ''
  GOOGLE_CLIENT_ID: ''
  GOOGLE_CLIENT_SECRET: ''
  AUTHY_API_KEY: 'AItlrZgDCIqzI2NDfjs87wYskT0CS8Te'
  TWILIO_NUMBER: ''
  TWILIO_ACCOUNT_SID: ''
  TWILIO_AUTH_TOKEN: ''
  SECRET_KEY_BASE: ''
  EXCEPTION_EMAILS: ''
  ADMIN_EMAIL: ''
