<p>Dear <%= @current_user.name.present? ? @current_user.name : 'Concern' %>:</p>

<p>
  Begin chatting with <%= @profile&.unique_id %>! <%= link_to 'Click here', profile_info_marriage_profile_url(@profile) %>
</p>
<p>Best of Luck</p>
<p>
  Team Bolo Kobul 🥰<br>
  <%= email_image_tag 'bk_logo.png', width: 100 %>
</p>
