<h2 class="hiw-places-header">
  <%= process_flow.title %>
</h2>
<hr class="section-hr mt-0 mb-0">
<div class="hiw-places-items">
  <div class="hiw-places-content row col-md-12 py-3">
    <div class="my-4 faq-place-section justify-content-center">
      <%= image_tag process_flow.process_image_url,
                    alt: process_flow.title,
                    class: "img-responsive center-block", width: "100%" %>
    </div>
  </div>
</div>
