<div class="wrapper">
  <div class="container hiw-places-container">
    <div class="row">
      <div class="col-md-12">
        <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
          <%= render partial: 'process_flow',
                     collection: @process_flows %>
        </div>
      </div>
    </div>
  </div>
</div>
