<div class="partner-requests pb-4">
  <div class="d-sm-flex flex-sm-row pt-4">
      <%= render 'home/dashboard/recommended_profiles' %>
      <%= render 'home/dashboard/accepted_profiles' %>
      <%= render 'home/dashboard/ads' %>
  </div>
</div>