<div class="partner-requests pb-4">
  <div class="d-sm-flex flex-sm-row pt-4" style="align-items:flex-start; gap:12px;">
    <div style="flex:1; min-width:0;">
      <%= render 'home/dashboard/recommended_profiles' %>
    </div>
    <div style="flex:1; min-width:0;">
      <%= render 'home/dashboard/partner_requests' %>
    </div>
    <div style="flex:1; min-width:0;">
      <%= render 'home/dashboard/accepted_profiles' %>
    </div>
  </div>
</div>
