<div class="right-section">
  <%= render 'home/dashboard/dashboard_tabs', marriage_profile: @marriage_profile %>
  <%= render 'home/dashboard/partner_requests' %>
  <%= render 'home/dashboard/other_profiles' %>
</div>