<p>Dear <%= @user.name.present? ? @user.name : 'Concern' %>:</p>

<p>
  Want to know more about <%= @profile.unique_id %>?
  Send a butterfly to say hi by clicking on Kobul! <%= link_to 'visit', 'https://bolokobul.com' %>
</p>
<p>
  Team Bolo Kobul 🥰<br>
  <%= email_image_tag 'bk_logo.png', width: 100 %>
</p>
