<p>Dear <%= @user.name.present? ? @user.name : 'Concern' %>:</p>

<p>
  <%= @profile.unique_id %> has accepted your butterfly! To learn more about your potential prospect, <%= link_to 'click', 'https://bolokobul.com' %>
</p>
<p>
  Best of luck
</p>
<p>
  Team Bolo Kobul 🥰<br>
  <%= email_image_tag 'bk_logo.png', width: 100 %>
</p>
