<p>Dear <%= @user.name.present? ? @user.name : 'Concern' %>:</p>

<p>
  Someone sent you a butterfly! To see who it is, <%= link_to 'visit', 'https://bolokobul.com' %>
</p>
<p>
  Best of luck
</p>
<p>
  Team Bolo Kobul 🥰<br>
  <%= email_image_tag 'bk_logo.png', width: 100 %>
</p>
