@import "public_variables";

.notification-box {
  background-color: $white-color;
  border: 1px solid $primary-color !important;
  border-radius: 4px;
  box-shadow: 0px 3px 6px #00000029;
  display: block;
  max-width: 100%;
  //min-height: 100px;
  width: auto !important;
}

.notification-bullet {
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: transparent;
  margin-right: 8px;
  margin-top: 5px;
  flex-shrink: 0;
  transition: background 0.3s;
}

.notification-unread .notification-bullet {
  background: #FFB627;
}

.notification-box {
  cursor: pointer;
  &:hover {
    background-color: #fffbf0 !important;
  }
}
