@import "public_variables";

// For Desktop Devices
.section-hr {
  background-color: $primary-color;
  height: 2px;
  width: 8%;
  margin: auto;
}
.hiw-places-header {
  font-size: 35px;
  margin-top: 2%;
  text-align: center;
}
.hiw-places-container {
  .hiw-places-items {
    display: flex;
    justify-content: center;
    .hiw-places-content {
      justify-content: center;
      a {
        text-decoration: none;
      }
      object {
        width: 100%;
        height: 100vh;
      }
      .hiw-place-section {
        background: $white-color 0 0 no-repeat padding-box;
        box-shadow: 1px 3px 9px $primary-box-shadow-color;
        margin-right: 1%;
        width: 100%;
      }
    }
  }
}
