
/* Bolokobul Color Declaration */
$primary-color: #FFB627;
$hover-color: #e0a800;
$link_hover: rgba(0,0,0,.7);
$guest-color: #F6F8F9;
$secondary-guest-color :#129894;
$default-background: #FFFFFF;
$white-color: #fff;
$black-color: #000;
$primary-box-shadow-color: #00000029;
$gray-color: #F5F5F5;
$text-gray: gray;
$text-white: #FFFFFF;
$shadowed-color: #757575;
$dark-shadowed-color: #474747;
$kobul_btn_color: #21BA45;
$cancel_color: #DB2828;
$edit-btn-color: #C9C9C9;
$favourite-btn-color: #FF596C;
$search-heading: #1A1A1A;
$search-input-border: #A6ADB4CF;
$search-input-background: #F5F5F5;
$search-icon-gray: #B1B1B1;
