<div class="wrapper">
  <h2 class="pp-places-header">
    Terms of Use
  </h2>
  <hr class="section-hr mt-0 mb-0">
  <div class="section mt-3">
    <div class="container tos-places-container">
      <div class="row">
        <div class="col-md-12">
          <p>DEAR USER:</p>
          <p>PLEASE READ THESE TERMS AND CONDITIONS BEFORE REGISTRATION</p>
          <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
            <%= render partial: 'terms_of_use', collection: @terms_of_uses %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-50"></div>
</div>
