<div class="d-sm-flex flex-sm-column pt-1 pb-3">
  <div class="about_marriage_profile profile-info-item">
    <%= render 'about_marriage_profile', marriage_profile: marriage_profile  %>
  </div>
</div>
