<div class="d-sm-flex flex-sm-column pt-1 ">
  <div class="academic_info profile-info-item">
    <%= render 'academic_informations/academic_info', marriage_profile: marriage_profile %>
  </div>
</div>