<div class="d-sm-flex flex-sm-column pt-1">
  <div class="hobbies_and_interest_info profile-info-item">
    <%= render 'hobbies_and_interests/hobbies_and_interest_info', marriage_profile: marriage_profile %>
  </div>
</div>
