<div class="flash-msg-profile-change"></div>
<div class="container-fluid p-0 ">
  <div class="dashboard">
    <div class="container">
      <div class="d-sm-flex flex-sm-row ">
        <%= render 'home/dashboard/left_sidebar', marriage_profile: @marriage_profile %>
        <%= render 'home/dashboard/right_section', marriage_profile: @marriage_profile %>
      </div>
    </div>
  </div>
</div>