<div class="container-fluid p-4" style="height: 400px;">
  <div class="container">
    <div class="ad_profile text-center pt-5">
      <h4>Welcome to Bolo Kobul!</h4>
      <hr>
      <p>Please contact us at <a href="mailto:support@bolokobul.com">support@bolokobul.com</a> if you need any assistance.</p>
      <%= link_to root_path, class: 'btn btn-primary mt-3' do %>
        <i class="fa fa-home"></i> Back to Home
      <% end %>
    </div>
  </div>
</div>
