<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '197135321712349',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v6.0'
    });
  };
</script>
<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
<!-- Your customer chat code -->
<div class="fb-customerchat"
     attribution="setup_tool"
     page_id="197135321712349"
     theme_color="#FFB627"
     logged_in_greeting="Hi! We are BoloKobul team! How can we help you?"
     logged_out_greeting="Hi! We are BoloKobul team! How can we help you?">
</div>
