<p>Hello <%= @resource.email %>!</p>

<p>Did you forget your password? Click below to reset it</p>

<p><%= link_to 'Change My Password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you did not forget the password, no further action is required. If you didn't request this,
  please write to customer support at <a href='mailto:support@bolokobul.com'>support@bolokobul.com</a></p>

<p>
  Thanks<br/>
  Team Bolo Kobul 🥰<br>
  <%- attachments['bk_logo.png'] = File.read(Rails.root.join("app/assets/images/bk_logo.png")) %>
  <%= image_tag attachments['bk_logo.png'].url, width: 100 %>
</p>
