<div class="container">
  <div class="reg-for-design", style="width: 40%; margin: auto; background: #fff;">
    <div class="reg-form-default p-3", style="    width: 100%; margin: auto;">
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= render 'shared/bolokobul_sign_up_form' %>
    </div>
  </div>

</div>